* {
    background-color: #694724;
    font-family: 
}

.wrapper {
    background-color: #F2DA80;
    border-radius: 50%
}

button {
    margin: auto;
    top: 65%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: #694724;
    border-color: #EDE468;
    background-color: #F2DA80;
    border-radius: 50%;
    padding: 4px;
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 50px;
    padding: 50px;
    position: absolute;
}

#text {
    color:#F2DA80;
    text-align: center;
    font-weight: bold;
    font-size: 50px;
    top: 200px;
    margin: 0;
  position: fixed;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
    
}

html {
    min-width: 550px;
    position: relative;
}

#monkey1 {
    float: left;
}

#monkey {
 display: inline-flex;
 position: relative;
 float: right;
 -webkit-transform: scaleX(-1);
 transform: scaleX(-1);

}

h1 {
    color: #F2DA80;;
    text-align: center;
    padding-bottom: 80px;
    font-size: 100px;
    
}